.performance-section {
  background: linear-gradient(135deg, #0d96de, #04547f);
  padding: 90px 0;
}



.metrics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.metric-card {
  background: #ffffff;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 12px 40px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
  cursor: pointer;
}

.metric-card i {
  font-size: 28px;
  color: #0d96de;
  margin-bottom: 8px;
}

.metric-card span {
  font-weight: 600;
  font-size: 15px;
}

.metric-card:hover {
  transform: translateY(-8px) scale(1.05);
  background: #0d96de;
  color: #fff;
}

.metric-card:hover i {
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
  .metrics-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


.stats-section {
  background: #f9fafb;
}

.stat-box {
  background: #fff;
  padding: 40px 20px;
  border-radius: 16px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}

.stat-box i {
  font-size: 34px;
  color: #0d96de;
  margin-bottom: 15px;
}

.stat-box h2 {
  font-weight: 700;
  margin-bottom: 5px;
}

.stat-box p {
  margin: 0;
  font-weight: 500;
}

.stat-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 45px rgba(0,0,0,0.1);
}

 .performance-section .btn-purple1{
    background: #fff;
    border: none;
    color: #0d96de;
    text-decoration: none;
    width: fit-content;
 }
 .performance-section .btn-purple1:hover{
    background: #fff;
    box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
    border: none;
    color: #000;
 }
 .inner_padding{padding-top: 100px; padding-bottom: 100px;}




 .seo-plan-section {
  /* padding: 80px 20px; */
  /* background: #f9fafb; */
  text-align: center;
}


.section-subtitle {
  color: #666;
  max-width: 600px;
  margin: 0 auto 40px;
}

.seo-plan-card {
  max-width: 450px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  padding: 30px;
  text-align: left;
   display: flex;
  flex-direction: column;
  height: 100%;

}
.highlight-plan{background-color: #0d96de; color: #fff; position: relative;}
.highlight-plan .plan-btn {background: #fff; color: #0d96de;}
.highlight-plan .plan-price {color: #fff !important; }

.popular-plan {
  position: absolute;
  right: 20px;
  top: -14px;
  padding: 6px 18px;
  background: #000;
  color: #fff;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 2;
}

/* animated glowing border */
.popular-plan::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: linear-gradient(
    120deg,
    transparent 30%,
    #068fca9f,
    #ffffff00,
    #38bff8de,
    transparent 90%
  );
  background-size: 300% 300%;
  animation: badgeGlowMove 3s linear infinite;
  filter: blur(1.5px);
  z-index: -1;
}

@keyframes badgeGlowMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}


.highlight-plan .plan-features li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #fff;
    font-weight: bold;
}
.plan-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.plan-price {
  font-size: 24px;
  font-weight: 700;
  color: #0d96de !important;
  /* margin-bottom: 20px; */
}

.plan-features {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.plan-features li {
  padding-left: 26px;
  margin-bottom: 12px;
  position: relative;
  font-size: 15px;
}

.plan-features li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #28a745;
  font-weight: bold;
}

.plan-btn {
  padding: 14px;
  background:linear-gradient(90deg, rgb(15, 153, 226) -11%, rgb(4, 84, 127) 0px, rgb(15, 153, 226));
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;
  display: inline-block;
  margin-top: auto;
  /* text-align: center; */
  width: fit-content;
}

@media (max-width:768px){
   .inner_padding{padding-top: 70px; padding-bottom: 70px;}
   .performance-section {padding: 70px 0;}
}
@media (max-width:425px){
  .plan-title {font-size: 22px;}
  .inner_padding{padding-top: 40px; padding-bottom: 40px;}
  .performance-section {padding: 40px 0}
  .stats-section .users{padding: 0;}
  .section-subtitle {margin: 0 auto 0px;}
}
